<%- include('./../layouts/adminLayout/header',{pageTitle: 'Coupon Page'})%>

            <!-- Main Content -->
            <main class="main-content" id="coupon">
                <div class="content">
                    <h1>Coupon List</h1>
                    <p>List of Coupons:</p>

                    <form action="" method="">
                        <button type="submit" id="addCoupon" class="btn btn-dark d-flex mb-3">Add New Coupon</button>
                    </form>

                    <table class="table table-bordered" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th style="width: 80px;">ID</th>
                                <th>Coupon Code</th>
                                <th>Discount</th>
                                <th>Minumum Amount</th>
                                <th>Description</th>
                                <th>Expiry Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0; i < coupons.length; i++){%>
                                <tr>
                                    <td>
                                        <%=i+1%>
                                    </td>
                                    <td>
                                        <%= coupons[i].couponCode%>
                                    </td>
                                    <td>
                                        ₹ <%=coupons[i].dicountAmount%>
                                    </td>
                                    <td>
                                        ₹ <%=coupons[i].minimumAmount%>
                                    </td>
                                    <td>
                                        <%=coupons[i].description%>
                                    </td>
                                    <td>
                                        <%=coupons[i].formattedDate%>
                                    </td>
                                    <td class="d-flex">
                                        <a href="/admin/editcoupon" data-coupon-code="<%= coupons[i].couponCode %>"
                                            class="btn btn-primary editbtn text-decoration-none ms-2 text-white">Edit</a>
                                        <a href="" data-coupon-code="<%= coupons[i].couponCode %>"
                                            class=" btn btn-danger deletebtn text-decoration-none ms-2 text-white">Delete</a>
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                    <nav aria-label="Product navigation" class="mt-4">
                        <ul class="pagination justify-content-end">
                            <% if(hasPreviousPage) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="First">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= previousPage %>" aria-label="Previous">Previous</a>
                                </li>
                            <% } else { %>
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">First</span>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">Previous</span>
                                </li>
                            <% } %>
                    
                            <% for(let i=1; i <= totalPages; i++) { %>
                                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                    
                            <% if(hasNextPage) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= nextPage %>" aria-label="Next">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= lastPage %>" aria-label="Last">Last</a>
                                </li>
                            <% } else { %>
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">Next</span>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">Last</span>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                    
                </div>
            </main>

            <!-- Add coupon -->
            <main class="main-content col-6" style="display: none; margin-left: 150px;" id="Add">
                <div class="content">
                    <h1>Coupons Management</h1>
                    <p id="errorMessage"></p>
                    <div class="row">
                        <!-- Add Coupon Form -->
                        <form action="/admin/Coupon" method="POST">
                            <div class="mb-3">
                                <label for="couponCode" class="form-label">Coupon Code</label>
                                <input type="text" class="form-control" id="couponCode" name="couponCode" required
                                    style="background-color: #f0f0f0;" readonly>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <p id="discountErrorMsg" style="color: red;"></p>
                                    <label for="discountAmount" class="form-label">Discount Amount (₹)</label>
                                    <input type="number" class="form-control" id="discountAmount" name="discountAmount"
                                        required style="background-color: #f0f0f0;">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <p id="minimumAmountErrorMsg" style="color: red;"></p>
                                    <label for="minimumAmount" class="form-label">Minimum Amount (₹)</label>
                                    <input type="number" class="form-control" id="minimumAmount" name="minimumAmount"
                                        required style="background-color: #f0f0f0;">
                                </div>
                            </div>
                            <div class="mb-3">
                                <p id="descriptionErrorMsg" style="color: red;"></p>
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3" required></textarea style="background-color: #f0f0f0;">
                            </div>
                            <div class="mb-3">
                                <label for="expiryDate" class="form-label">Expiry Date</label>
                                <input type="date" class="form-control" id="expiryDate" name="expiryDate" required style="background-color: #f0f0f0;">
                            </div>
                            <button type="submit" id="Addbutton" class="btn btn-primary">Add Coupon</button>
                        </form>
                    </div>
                </div>
            </main>
            

            <main class="main-content col-6" style="display: none; margin-left: 150px;" id="edit">
                <div class="content">
                    <h1>Edit Coupon</h1>
                     <p id="editError"></p>
                    <form action="/admin/updatecoupon" method="POST">
                        <input type="hidden" name="couponId" value="COUPON_ID" />
                       
                        <div class="mb-3">
                            <label for="editcouponCode" class="form-label">Coupon Code</label>
                            <input type="text" class="form-control" id="editcouponCode" name="couponCode" value="" required style="background-color: #f0f0f0;" readonly>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <p id="errorEditDiscount" style="color: red;"></p>
                                <label for="editdiscountAmount" class="form-label">Discount Amount (₹)</label>
                                <input type="number" class="form-control" id="editdiscountAmount" name="discountAmount"
                                    value="EXISTING_DISCOUNT_AMOUNT" required style="background-color: #f0f0f0;">
                            </div>
                            <div class="mb-3 col-md-6">
                                <p id="errorEditMinimum" style="color: red;"></p>
                                <label for="editminimumAmount" class="form-label">Minimum Amount (₹)</label>
                                <input type="number" class="form-control" id="editminimumAmount" name="minimumAmount" value="EXISTING_MINIMUM_AMOUNT" required style="background-color: #f0f0f0;">
                            </div>
                        </div>
                        <div class="mb-3">
                            <p id="errorEditDescription" style="color: red;"></p>
                            <label for="editdescription" class="form-label">Description</label>
                            <textarea class="form-control" id="editdescription" name="description" rows="3" required></textarea style="background-color: #f0f0f0;">
                        </div>
                        <div class="mb-3">
                            <label for="editexpiryDate" class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="editexpiryDate" name="expiryDate" value="" required style="background-color: #f0f0f0;">
                        </div>
                        <button type="submit" id="updatebtn" class="btn btn-primary">Update Coupon</button>
                    </form>
                </div>
            </main>
            

        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {

            document.getElementById('addCoupon').addEventListener('click', function (e) {
                e.preventDefault()

                document.getElementById('coupon').style.display = 'none'
                document.getElementById('Add').style.display = 'block'
                let result = '';
                const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                const charactersLength = characters.length;
                for (let i = 0; i < 10; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                document.getElementById('couponCode').value = result;

            })
            const discountElem = document.getElementById('discountAmount')

            discountElem.addEventListener('blur', function () {
                const minumumAmountElem = document.getElementById('minimumAmount').value
                const discountAmount = this.value

                if (!discountAmount || discountAmount.trim() == "" || discountAmount < 0) {
                    document.getElementById('discountErrorMsg').innerHTML = "Please Enter Valid Amount"
                    document.getElementById('discountErrorMsg').style.color = 'red'
                    document.getElementById('Addbutton').disabled = true


                }

                else {
                    document.getElementById('discountErrorMsg').innerHTML = ""
                    document.getElementById('Addbutton').disabled = false

                }
            })

            const minumumAmountElem = document.getElementById('minimumAmount')


            minumumAmountElem.addEventListener('blur', function () {
                const discountAmount = document.getElementById('discountAmount').value

                const minumumAmount = this.value

                if (!minumumAmount || minumumAmount.trim() == "" || minumumAmount < 0) {
                    document.getElementById('minimumAmountErrorMsg').innerHTML = "Please Enter Valid Amount"
                    document.getElementById('minimumAmountErrorMsg').style.color = 'red'
                    document.getElementById('Addbutton').disabled = true



                } else if (Number(minumumAmount) <= Number(discountAmount)) {
                    document.getElementById('minimumAmountErrorMsg').innerHTML = "Amount must be greater than discount"
                    document.getElementById('minimumAmountErrorMsg').style.color = 'red'
                    document.getElementById('Addbutton').disabled = true

                }
                else {
                    document.getElementById('minimumAmountErrorMsg').innerHTML = ""
                    document.getElementById('Addbutton').disabled = false

                }

            })




            const DescriptionElem = document.getElementById('description')
            DescriptionElem.addEventListener('blur', function () {
                const description = this.value

                if (description.trim() == "") {

                    document.getElementById('descriptionErrorMsg').innerHTML = "Enter Description"
                    document.getElementById('Addbutton').disabled = true
                } else {
                    document.getElementById('descriptionErrorMsg').innerHTML = ""
                    document.getElementById('Addbutton').disabled = false
                }


            })



            //<-------------Add coupons------------------>
            document.getElementById('Addbutton').addEventListener('click', function (e) {
                e.preventDefault()
                const couponCode = document.getElementById('couponCode').value
                const discountAmount = document.getElementById('discountAmount').value
                const description = document.getElementById('description').value
                const minimumAmount = document.getElementById('minimumAmount').value
                const expiryDate = document.getElementById('expiryDate').value

                axios.post('/admin/Coupon', { couponCode, discountAmount, description, minimumAmount, expiryDate })
                    .then(res => {
                        if (!res.data.success) {
                            console.log(res.data);
                            document.getElementById('errorMessage').innerHTML = res.data.message
                            document.getElementById('errorMessage').style.color = 'red'

                        } else {
                            document.getElementById('errorMessage').innerHTML = " "
                            window.location.href = '/admin/Coupon'

                        }
                    }).catch(err => {
                        console.log('error', err);
                    })



            })


            //<--------------edit coupon section-------------->//

            const editBtn = document.querySelectorAll('.editbtn')
            const editdiscountElem = document.getElementById('editdiscountAmount')
            const editdescriptionElem = document.getElementById('editdescription')
            const editminimumAmountElem = document.getElementById('editminimumAmount')

            editdiscountElem.addEventListener('blur', function () {
                const editdiscountAmount = this.value
                if (!editdiscountAmount || editdiscountAmount.trim() == " " || editdiscountAmount < 0) {
                    document.getElementById('errorEditDiscount').innerHTML = "Enter Valid amount"
                    document.getElementById('updatebtn').disabled = true

                } else {
                    document.getElementById('errorEditDiscount').innerHTML = ""
                    document.getElementById('updatebtn').disabled = false
                }
            })

            editdescriptionElem.addEventListener('blur', function () {
                const editdescriptionElem = this.value

                if (!editdescriptionElem || editdescriptionElem.trim() == "") {
                    document.getElementById("err").innerHTML = "Enter Description"
                    document.getElementById('updatebtn').disabled = true

                } else {
                    document.getElementById("err").innerHTML = " "
                    document.getElementById('updatebtn').disabled = false

                }
            })

            editminimumAmountElem.addEventListener('blur', function () {
                editminimumAmount = this.value
                const editdiscount = document.getElementById('editdiscountAmount').value

                console.log(editdiscount);
                console.log(editminimumAmount);

                if (!editminimumAmount || editminimumAmount.trim() == "" || editminimumAmount < 0) {
                    document.getElementById('errorEditMinimum').innerHTML = "Please Enter Valid Amount"
                    document.getElementById('errorEditMinimum').style.color = 'red'
                    document.getElementById('updatebtn').disabled = true



                } else if (Number(editminimumAmount) <= Number(editdiscount)) {
                    document.getElementById('errorEditMinimum').innerHTML = "Amount must be greater than discount"
                    document.getElementById('errorEditMinimum').style.color = 'red'
                    document.getElementById('updatebtn').disabled = true

                }
                else {
                    document.getElementById('errorEditMinimum').innerHTML = ""
                    document.getElementById('updatebtn').disabled = false

                }


            })





            //<-----------------Edit coupon------------>
            editBtn.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault()
                    const couponCode = this.getAttribute('data-coupon-code');

                    document.getElementById('coupon').style.display = 'none';
                    document.getElementById('edit').style.display = 'block';
                    axios.post('/admin/editCoupon', { couponCode })
                        .then(res => {
                            const couponDetails = res.data.couponDetails

                            if (res.data.couponDetails) {
                                document.getElementById('editcouponCode').value = couponDetails.couponCode
                                document.getElementById('editdiscountAmount').value = couponDetails.dicountAmount
                                document.getElementById('editdescription').innerHTML = couponDetails.description
                                document.getElementById('editminimumAmount').value = couponDetails.minimumAmount



                                const expireDate = new Date(couponDetails.expireDate);
                                const formattedDate = expireDate.toISOString().split('T')[0];
                                console.log(formattedDate);

                                document.getElementById('editexpiryDate').value = formattedDate

                            }


                        }).catch(err => {
                            console.log('error', err);
                        })


                })

            })
            document.getElementById('updatebtn').addEventListener('click', function (e) {
                e.preventDefault()
                const couponCode = document.getElementById('editcouponCode').value
                const discountAmount = document.getElementById('editdiscountAmount').value
                const description = document.getElementById('editdescription').value
                const minimumAmount = document.getElementById('editminimumAmount').value
                const expiryDate = document.getElementById('editexpiryDate').value

                console.log(couponCode,discountAmount,description,minimumAmount,expiryDate);

                axios.post('/admin/updatecoupon', { couponCode, discountAmount, description, minimumAmount, expiryDate })
                    .then(res => {
                        if (!res.data.success) {
                            console.log(res.data);
                            document.getElementById('editError').innerHTML = res.data.message
                            document.getElementById('editError').style.color = 'red'

                        } else {
                            document.getElementById('editError').innerHTML = " "
                            window.location.href = '/admin/Coupon'

                        }
                    })



            })






            const deletebtn = document.querySelectorAll('.deletebtn')
            deletebtn.forEach(button => {

                button.addEventListener('click', function (e) {
                    e.preventDefault()
                    const couponCode = this.getAttribute('data-coupon-code')

                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"


                    }).then((result) => {

                        if (result.isConfirmed) {
                            axios.post('/admin/deleteCoupon', { couponCode })
                                .then(res => {
                                    console.log(res.data.success);

                                    if (res.data.success) {

                                        Swal.fire({
                                            title: "Deleted!",
                                            text: "Your file has been deleted.",
                                            icon: "success"
                                        }).then(res => {

                                            if (res.isConfirmed) {
                                                window.location.href = '/admin/Coupon'
                                            }
                                        })

                                    }



                                }).catch(err => {
                                    Swal.fire({
                                        title: "Deleted!",
                                        text: "something wrong.",
                                        icon: "error"
                                    });
                                    console.log('error in delete coupon', err);
                                })

                        }
                    });


                })
            })

        })


    </script>
    <script src="js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>



</body>

</html>