<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale Report</title>


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.bootstrap5.css">
    <link rel="stylesheet" href="/css/admindashboard.css">
    <link rel="stylesheet" href="/css/salesReport.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.colVis.min.js"></script>

</head>

<body>
    <style>



    </style>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Coza Store</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/admin/logout">Sign out</a>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky ">

                    <div class="position-sticky sidebar-sticky">
                        <ul class="nav flex-column">
                            <aside class="sidebar col-12">

                                <br> <br>
                                <ul class="">
                                    <li class="nav-item">
                                        <a href="/admin/dashboard"
                                            class="nav-link active d-flex align-items-center border">
                                            <i class="fas fa-home me-2"></i> Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/userlist" class="nav-link active d-flex align-items-center  ">
                                            <i class="fa-solid fa-users me-2"></i> Users
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/productlist" class="nav-link active d-flex align-items-center">
                                            <i class="fas fa-shopping-cart me-2"></i> Products
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/oderDetails" class="nav-link active d-flex align-items-center">
                                            <i class="fas fa-file-alt me-2"></i> Orders
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/category" class="nav-link active d-flex align-items-center">
                                            <i class="fas fa-list me-2"></i> Categories
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/Coupon" class="nav-link active d-flex align-items-center">
                                            <i class="fa-solid fa-money-bill me-2"></i> Coupon
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/admin/offer" class="nav-link active d-flex align-items-center">
                                            <i class="fa-solid fa-tag me-2"></i> offer
                                        </a>
                                    </li>




                                </ul>
                            </aside>

                        </ul>
                    </div>

                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <section>
                    <div class="container reportMain">
                        <div class="row">
                            <div class="col-12 d-flex  justify-content-center ">
                                <h3>Sales Report</h3>
                            </div>

                            <div class="d-flex justify-content-end pe-4 pt-2">
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="salesReportDropdown"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sales Report
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="salesReportDropdown">
                                        <li><a class="dropdown-item" href="/admin/salesDaily"><i
                                                    class="fas fa-calendar-day me-2"></i>Daily</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/admin/salesWeekly"><i
                                                    class="fas fa-calendar-week me-2"></i>Weekly</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/admin/salesMonthly"><i
                                                    class="fas fa-calendar-alt me-2"></i>Monthly</a></li>
                                        <li><a class="dropdown-item" href="/admin/salesYearly"><i
                                                    class="fas fa-calendar me-2"></i>Yearly</a></li>
                                    </ul>
                                </div>
                            </div>
                            <p style="color: Red; font-size: 14px; font-weight: bold; text-align: center; background-color: #ffeeee; padding: 5px;"
                                id="errordate"></p>

                            <form action="/admin/customDate" method="post">
                            <div class="col-lg-6 d-flex ">
                                <div class="input-group reportDate me-2" style="width: 300px;">
                                    <span class="input-group-text ">From Date</span>
                                    <input type="date" id="fromDate" value="<%=fromDate%>" name="fromDate" class="form-control">
                                </div>
                                <div class="input-group reportDate me-2" style="width: 280px;">
                                    <span class="input-group-text">To Date</span>
                                    <input type="date" id="toDate" name="toDate" value="<%= toDate%>" class="form-control">
                                </div>
                              <button type="submit" class="btn btn-primary " id="saleDateFilterBtn">Filter</button>
                            </div>
                        </form>

                        </div>


                        <div class="row">

                            <div class="col-12">
                                <input type="hidden" name="" id="pageValue" value="">

                                <div class="pageTrue" id="pageMain">


                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <div class="row mt-3">
                                            <div class="col-lg-3 d-flex justify-content-between  ">

                                                <button type="button" class="btn btn-warning revenueShowBtn">
                                                    <h1 class="text-primary">Total Revenue: <span class="text-dark"
                                                            id="totalAmount">₹ <%=TotalAmount%>
                                                        </span></h1>
                                                </button>


                                            </div>

                                            <div class="col-lg-3 d-flex justify-content-between  ">

                                                <button type="button" class="btn btn-success  revenueShowBtn">
                                                    <h1 class="text-white ">Total discount: <span class="text-white "
                                                            id="totaldiscount">₹ <%=TotalCouponAmount%>
                                                        </span></h1>
                                                </button>


                                            </div>

                                            <div class="col-lg-3 d-flex justify-content-between  ">

                                                <button type="button" class="btn btn-primary  revenueShowBtn">
                                                    <h1 class="text-white ">Total sales count: <span class="text-white "
                                                            id="totalSalesCount">
                                                            <%=TotalSaleCount%>
                                                        </span></h1>
                                                </button>


                                            </div>
                                        </div>


                                        <%if(page=="daily"){%>
                                            <thead class="table-dark  ">
                                                <tr>
                                                    <th>SI No</th>
                                                    <th>Date</th>
                                                    <th>Orders</th>
                                                    <th>offers</th>
                                                    <th>coupon</th>
                                                    <th>Product Count</th>
                                                    <th>Total Revenue</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableData">

                                                <%for(i=0;i< reportData.length;i++){%>
                                                    <tr>
                                                        <td>
                                                            <%=i+1%>
                                                        </td>
                                                        <td>
                                                            <%=reportData[i].dateFormatted%>
                                                        </td>
                                                        <td>
                                                            <%=reportData[i].totalOrderCount%>
                                                        </td>
                                                        <td>
                                                            <%=reportData[i].offeredProductsSold%>
                                                        </td>
                                                        <td>
                                                            ₹ <%=reportData[i].couponsUsed%>
                                                        </td>
                                                        <td>
                                                            <%=reportData[i].totalProducts%>
                                                        </td>
                                                        <td>
                                                            ₹<%=reportData[i].totalSales%>

                                                        </td>
                                                    </tr>


                                                    <%}%>
                                            </tbody>
                                            <%}%>

                                                <% if(page=='weekly' ){%>

                                                    <thead class="table-dark  ">
                                                        <tr>
                                                            <th>SI No</th>
                                                            <th>Start date</th>
                                                            <th>End date</th>
                                                            <th>Orders</th>
                                                            <th>offers</th>
                                                            <th>coupon</th>
                                                            <th>Product Count</th>
                                                            <th>Total Revenue</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <%for(i=0;i< reportData.length;i++){%>
                                                            <tr>
                                                                <td>
                                                                    <%=i+1%>
                                                                </td>
                                                                <td>
                                                                    <%=reportData[i].startOfWeek%>
                                                                </td>
                                                                <td>
                                                                    <%=reportData[i].endOfWeek%>
                                                                </td>
                                                                <td>
                                                                    <%=reportData[i].totalOrderCount%>
                                                                </td>
                                                                <td>
                                                                    <%=reportData[i].offeredProductsSold%>
                                                                </td>
                                                                <td>
                                                                    ₹<%=reportData[i].couponsUsed%>
                                                                </td>
                                                                <td>
                                                                    <%=reportData[i].totalProducts%>
                                                                </td>
                                                                <td>₹<%=reportData[i].totalSales%>
                                                                </td>

                                                            </tr>
                                                            <%}%>
                                                    </tbody>

                                                    <%}%>


                                                        <% if(page=='monthly' ){%>

                                                            <thead class="table-dark  ">
                                                                <tr>
                                                                    <th>SI No</th>
                                                                    <th>month-year</th>
                                                                    <th>orders</th>
                                                                    <th>offers</th>
                                                                    <th>coupons</th>
                                                                    <th>Product Count</th>
                                                                    <th>Total Revenue</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <%for(i=0;i< reportData.length;i++){%>
                                                                    <tr>
                                                                        <td>
                                                                            <%=i+1%>
                                                                        </td>
                                                                        <td>
                                                                            <%=reportData[i].monthYear%>
                                                                        </td>
                                                                        <td>
                                                                            <%=reportData[i].totalOrderCount%>
                                                                        </td>
                                                                        <td>
                                                                            <%=reportData[i].offeredProductsSold%>
                                                                        </td>
                                                                        <td>
                                                                            ₹<%=reportData[i].couponsUsed%>
                                                                        </td>

                                                                        <td>
                                                                            <%=reportData[i].totalProducts%>
                                                                        </td>
                                                                        <td>₹<%=reportData[i].totalSales%>
                                                                        </td>
                                                                    </tr>
                                                                    <%}%>
                                                            </tbody>

                                                            <%}%>




                                                                <% if(page=='yearly' ){%>

                                                                    <thead class="table-dark  ">
                                                                        <tr>
                                                                            <th>SI No</th>
                                                                            <th>Year</th>
                                                                            <th>Order</th>
                                                                            <th>offers</th>
                                                                            <th>coupons</th>
                                                                            <th>Product Count</th>
                                                                            <th>Total Revenue</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        <%for(i=0;i< reportData.length;i++){%>
                                                                            <tr>
                                                                                <td>
                                                                                    <%=i+1%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=reportData[i].year%>
                                                                                </td>

                                                                                <td>
                                                                                    <%=reportData[i].totalOrderCount%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=reportData[i].offeredProductsSold%>
                                                                                </td>
                                                                                <td>
                                                                                    ₹ <%=reportData[i].couponsUsed%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=reportData[i].totalProducts%>
                                                                                </td>
                                                                                <td>₹<%=reportData[i].totalSales%>
                                                                                </td>
                                                                            </tr>
                                                                            <%}%>
                                                                    </tbody>

                                                                    <%}%>




                                                                        <%if(page=="customDate"){%>
                                                                            <thead class="table-dark  ">
                                                                                <tr>
                                                                                    <th>SI No</th>
                                                                                    <th>Date</th>
                                                                                    <th>Orders</th>
                                                                                    <th>offers</th>
                                                                                    <th>coupon</th>
                                                                                    <th>Product Count</th>
                                                                                    <th>Total Revenue</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="tableData">

                                                                                <%for(i=0;i< reportData.length;i++){%>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <%=i+1%>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%=reportData[i].dateFormatted%>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%=reportData[i].totalOrderCount%>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%=reportData[i].offeredProductsSold%>
                                                                                        </td>
                                                                                        <td>
                                                                                            ₹
                                                                                            <%=reportData[i].couponsUsed%>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%=reportData[i].totalProducts%>
                                                                                        </td>
                                                                                        <td>
                                                                                            ₹
                                                                                            <%=reportData[i].totalSales%>

                                                                                        </td>
                                                                                    </tr>


                                                                                    <%}%>
                                                                            </tbody>
                                                                            <%}%>

                                    </table>
                                </div>


                            </div>

                        </div>
                    </div>
                </section>
            </main>

        </div>
    </div>




    <script>

    </script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {

            const fromDateInput = document.getElementById('fromDate')
            const toDateInput = document.getElementById('toDate')
            let fromDate;
            let toDate;
            fromDateInput.addEventListener('change', function () {
                fromDate = this.value
                console.log('fromDate', fromDate);
                checkdata(fromDate, toDate)
            })
            toDateInput.addEventListener('change', function () {
                toDate = this.value
                console.log('toDate', toDate);
                checkdata(fromDate, toDate)

            })

            function checkdata(fromDate, toDate) {
                axios.get(`/admin/checkDataExist?fromDate=${fromDate}&&toDate=${toDate}`)
                    .then(res => {
                        if (!res.data.success) {
                            document.getElementById('errordate').innerHTML = res.data.message
                            document.getElementById('saleDateFilterBtn').disabled = true
                        }
                        else {
                            document.getElementById('errordate').innerHTML = " "
                            console.log('successs data exist');
                            document.getElementById('saleDateFilterBtn').disabled = false
                        }

                    }).catch(err => {
                        console.log('error');
                    })

            }




            // document.getElementById('saleDateFilterBtn').addEventListener('click', function () {
            
            //     const fromDate = document.getElementById('fromDate').value
            //     const toDate = document.getElementById('toDate').value
            //     console.log(fromDate, toDate);
            //     if (fromDate > toDate) {
            //         document.getElementById('errordate').innerHTML = "From date is Greater than Todate"
            //     } else {
            //         document.getElementById('errordate').innerHTML = ""

            //         axios.post('/admin/customDate', { fromDate, toDate })
            //             .then((res) => {
            //                 const data = res.data.reportData
            //                 document.getElementById('totalAmount').innerHTML = `₹  ${res.data.TotalAmount}`
            //                 document.getElementById('totalSalesCount').innerHTML = ` ${res.data.TotalSaleCount}`
            //                 document.getElementById('totaldiscount').innerHTML = `₹  ${res.data.TotalCouponAmount}`
            //                 console.log("res.data.reportData", res.data.reportData);
            //                 updateTable(data);


            //             }).catch((err) => {
            //                 console.log('error', err);

            //             });
            //     }
            // })
            // function updateTable(data) {
            //     const tableBody = document.getElementById('tableData');
            //     tableBody.innerHTML = '';

            //     data.forEach((row, index) => {

            //         const tr = document.createElement('tr');
            //         tr.innerHTML = `
            //              <td>${index + 1}</td>
            //              <td>${row.dateFormatted || ''}</td>
            //              <td>${row.totalOrderCount || 0}</td>
            //              <td>${row.offeredProductsSold || 0}</td>
            //              <td>₹${row.couponsUsed || 0}</td>
            //              <td>${row.totalProducts || 0}</td>
            //              <td>₹${row.totalSales || 0}</td>
            //                `;

            //         tableBody.appendChild(tr);
            //     });



            //     console.log("entering the update table function");
            // }

            new DataTable('#example', {

                layout: {
                    topStart: {
                        buttons: ['copy', 'excel', 'pdf', 'colvis']
                    }
                }
            });

        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>



</body>

</html>